body{
    background-color: white;
}
div {
    background-color: black;
    color: white;
}
.div1 {
    height: 500px;
    width: 250px;
    background-color: grey;
    float: left;
    margin-left: -20px;
}
.div2 {
    position: absolute;
    height: 250px;
    width: 200px;
    top: 250px;
    left: 150px;
}
.div3 {
    height: 150px;
    width: 150px;
    background-color: lightgrey;
    position: absolute;
    top: 400px;
    left: 100px;
    color: black;

}