body{
    background-color: white;
}
div {
     background-color: black;
     color: white;
     height: 150px;
     width: 150px;
     position: absolute;
}

.div1, .div3 {
    margin-left: -20px;
}

.div1, .div4 {
    background-color: grey;
}

.div1 {
    width: 250px;
    height: 250px;
    float: left;
}
.div2 {
    position: absolute;
    left: 425px;
}
.div3 {
    float: left;
    top: 325px;
}
.div4 {
    width: 250px;
    height: 250px;
    top: 225px;
    left: 325px;
}