body{
    background-color: white;
}
div {
    background-color: black;
    color: white;
    height: 150px;
    width: 150px;
}
.div1 {
    margin-left: -20px;
    width: 300px;
    height: 600px;
    position: relative;
    background-color: grey;
    float: left;
}
.div2 {
    position: absolute;
    top: 0;
    left: 70px;
}
.div3 {
    position: absolute;
    bottom: 0;
    left: 70px;
}