body {
    background-color: white;
}

div {
    width: 150px;
    height: 150px;
    color: white;
    background-color: black;
}

.div1 {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: grey;
    float: right;
    margin-right: -20px;
}

.div2 {
    position: absolute;
    left: 0;
    bottom: 0;
}