body{
    background-color: white;
}
div {
    background-color: black;
    color: white;
    height: 150px;
    width: 150px;
}
.div1 {
    width: 700px;
    height: 300px;
    position: relative;
    background-color: grey;
    margin: 50px auto;
}
.div2 {
    position: absolute;
    top: 70px;
    left: 70px;
}
.div3 {
    position: absolute;
    top: 70px;
    right: 70px;
}