body {
    background-color: white;
}

div {
    width: 150px;
    height: 150px;
    color: white;
    background-color: black;
}

.div1 {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: grey;
    float: left;
    margin-left: -20px;
}

.div2 {
    position: absolute;
    right: 0;
    top: 0;
}