body{
    background-color: white;
}
div {
    background-color: black;
    color: white;
}
.div1 {
    margin-left: -20px;
    height: 500px;
    width: 250px;
    position: relative;
    background-color: grey;
    float: left;
}
.div2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 250px;
    width: 200px;
}
.div3 {
    height: 150px;
    width: 150px;
    background-color: lightgrey;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
}