body{
    height: 1000px;
    background-color: white;
}
div {
    background-color: black;
    color: white;
}
.div1 {
    background-color: grey;
    height: 300px;
    width: 300px;
    margin: 20px auto;
    position: relative
}
.div2 {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 70px;
    left: 70px;
}